h1 {
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  background-image: linear-gradient( #FDB827, white);
  color: #542583;
}

img {
  display: block;
}

#image {
  max-width: 100%;
  height: auto;
  margin: auto;
}

#img-caption {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 0;
}

#tribute-info {
  text-align: center;
  color: #542583;
}

figure {
  display: block;
  background-color: white;
  padding: 20px;
}
